# Copyright (c) 2023 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_ESP32S3
	bool "ESP32S3 series"
	select XTENSA
	select SOC_FAMILY_ESP32
	select DYNAMIC_INTERRUPTS
	select CLOCK_CONTROL
	select HAS_ESPRESSIF_HAL
	select ARCH_SUPPORTS_COREDUMP

config SOC_ESP32S3
	bool "ESP32S3 default"
	depends on SOC_SERIES_ESP32S3
	select PINCTRL
	select XIP if !MCUBOOT
	select CPU_HAS_FPU
	help
	  Enable support for Espressif ESP32-S3

config SOC_ESP32S3_APPCPU
	bool "ESP32S3 for APPCPU (second core)"
	depends on SOC_SERIES_ESP32S3
	help
	  Enable support for Espressif ESP32S3 APPCPU (second core) in AMP use case.
